<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>MaxisPrepa.com</title>
      <link rel="stylesheet" href="../style.css"> <!--liking with css-->

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'> <!--In these two lines i have just added fonts-->
      
</head>
<body>
      <!--The NavBar-->
      <div class="nav-bar">
            <!--The Logo-->
            <div class="logo"> 
                  <a href="home.html"><i class="fa fa-book"></i> <span>Maxis</span><span>Prepa</span></a>  <!--CHANGE HERE-->
            </div>
            <!--The above menu-->
            <div class="nav-menu">
                  <a href="resumes.html">Astuces/Résumer</a>
                  <a href="exercices.html">Exercices</a>
                  <a href="sujets.html" id="last">Sujets/Corrigés</a> <!--We can also make this a Dropdown Menu-->
            </div>
      </div>

      <!--The content of this page will be written here-->

      <footer>
            <div class="foot">
                  <div class="info-container">
                        <div class="contact">
                              <span>Contactez Nous:</span> 
                              <a href="#" title="Send Message" target="_blank"><i class="fa fa-envelope"></i> Tsouliomar2006@gmail.com</a>
                              <a href="#" title="Send Message" target="_blank"><i class="fa fa-envelope"></i> Younestsouli444@gmail.com</a>
                        </div>
                        <div class="socials">
                              <span>Suivez Nous sur:</span>
                              <div class="linked">
                                    <a href="#" title="View Profile" target="_blank"><i class="fa fa-linkedin"></i> Omar Tsouli</a>
                                    <a href="#" title="View Profile" target="_blank"><i class="fa fa-linkedin"></i> Younes Tsouli</a>
                              </div>                    
                              <!--To be continued-->
                        </div>
                        <div id="last-info" class="ressources">
                              <span>Obtenez plus de Sujets de Pratique sur:</span>
                              <a href="https://www.ensamaroc.com/concours/bac" target="_blank"><i class="fa fa-file"></i>ENSA Maroc</a>
                              <a href="https://concoursmedecine.ma/auth/exams/maths/concours-medecine-commun-2022-2023/" target="_blank"><i class="fa fa-file"></i>Médecine Maroc</a>
                              <a href="https://www.alloschool.com/course/concours-d-acces-ensam-ecoles-nationales-superieures-d-arts-et-metiers" target="_blank"><i class="fa fa-file"></i>ENSAM Maroc de 2007 à 2016, Crédit: AlloSchool</a>
                              <!--to be continued-->
                        </div>
                  </div>
                  <p>&copy; Omar Tsouli ~ Younes Tsouli. 2025 Tous Droits Réservés.</p>
            </div>
            
      </footer>
</footer>
</body>
