<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>MaxisPrepa.com</title>
      <link rel="stylesheet" href="../style.css"> <!--liking with css-->
      <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
      <script id="MathJax-script" async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
      </script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'> <!--In these two lines i have just added fonts-->
      
</head>
<body>
      <!--The NavBar-->
      <div class="nav-bar">
            <!--The Logo-->
            <div class="logo"> 
                  <a href="home.html"><i class="fa fa-home"></i> <span>Maxis</span><span>Prepa</span></a>  <!--CHANGE HERE-->
            </div>

            <!--The above menu-->
            <div class="nav-menu">
                  <a href="PreparationConcours.pdf" target="_blank">Astuces/Résumer</a>

                  <div class="dropdown">
                        <button class="btn-drop">Exercices+</button>
                        <div class="content">
                              <a class="drop-links" href="ExercicesConcours.pdf" target="_blank">Énoncés</a>
                              <a class="drop-links" href="exercices.html">QCUs</a>
                        </div>
                  </div>

                  <a href="sujets.html"  id="last">Sujets/Corrigés</a> <!--We can also make this a Dropdown Menu-->
            </div>
      </div>

      <!--The content of this page will be written here-->
      <!--Exo1: -->
      <div class="exo-container">
            <fieldset class="exos">
                  <legend><strong>Exercice1:</strong></legend>
                  <!--Les deux premieres questions-->
                  <div class="qst-container">
                        <div class="qst">
                              <h5 class="qst-title">Choisir la bonne réponse de la Q1:</h5>
                              <div class="choice-container">
                                    <input name="1" type="radio" id="e1-qst1">
                                    <label>1</label>
                                    <input name="1" type="radio">
                                    <label>0</label>
                                    <input name="1" type="radio">
                                    <label>\(\frac{1}{2}\)</label>
                                    <input name="1" type="radio">
                                    <label>\(\pi\)</label>
                              </div>
                              <div class="btn-container">
                                    <button id="cor-1" class="bl">Corriger</button>
                                    <button id="ver-1" class="ver">vérifier</button>
                                    
                              </div>
                              <p id="message1"></p>

                        </div>
                        <div class="qst">
                              <h5 class="qst-title">Choisir la bonne réponse de la Q2:</h5>
                              <div class="choice-container">
                                    <input name="2" type="radio">
                                    <label>1</label>
                                    <input name="2" type="radio">
                                    <label>\(\frac{1}{6}\)</label>
                                    <input name="2" type="radio" id="e1-qst2">
                                    <label>\(\frac{-1}{6}\)</label>
                                    <input name="2" type="radio">
                                    <label>\(\frac{-1}{2}\)</label>
                              </div>
                              <div class="btn-container">
                                    <button id="cor-2" class="bl">Corriger</button>
                                    <button id="ver-2" class="ver">vérifier</button>
                                   
                              </div>
                              <p id="message2"></p>
                        </div>
                  </div>
                  <!--les 3 et 4 emes qst-->
                  <div class="qst-container">
                        <div class="qst">
                              <h5 class="qst-title">Choisir la bonne réponse de la Q3:</h5>
                              <div class="choice-container">
                                    <input name="3" type="radio">
                                    <label>0</label>
                                    <input name="3" type="radio" id="e1-qst3">
                                    <label>2</label>
                                    <input name="3" type="radio">
                                    <label>\(\frac{-7}{5}\)</label>
                                    <input name="3" type="radio">
                                    <label>\(\frac{-6}{5}\)</label>
                              </div>
                              <div class="btn-container">
                                    <button id="cor-3" class="bl">Corriger</button>
                                    <button id="ver-3" class="ver">vérifier</button>
                                    
                              </div>
                              <p id="message3"></p>
                        </div>
                        <div class="qst">
                              <h5 class="qst-title">Choisir la bonne réponse de la Q4:</h5>
                              <div class="choice-container">
                                    <input name="4" type="radio" id="e1-qst4">
                                    <label>0</label>
                                    <input name="4" type="radio" >
                                    <label>\(\frac{2}{3}\)</label>
                                    <input name="4" type="radio" >
                                    <label>1</label>
                                    <input name="4" type="radio">
                                    <label>\(\frac{-1}{2}\)</label>
                              </div>
                              <div class="btn-container">
                                    <button id="cor-4" class="bl">Corriger</button>
                                    <button id="ver-4" class="ver">vérifier</button>
                                    
                              </div>
                              <p id="message4"></p>
                        </div>
                  </div>
                  <div class="qst-container">
                        <div class="qst">
                              <h5 class="qst-title">Choisir la bonne réponse de la Q5:</h5>
                              <div class="choice-container">
                                    <input name="5" type="radio">
                                    <label>0</label>
                                    <input name="5" type="radio">
                                    <label>ln(3)</label>
                                    <input name="5" type="radio">
                                    <label>-1</label>
                                    <input name="5" type="radio" id="e1-qst5">
                                    <label>\(+\infty\)</label>
                              </div>
                              <div class="btn-container">
                                    <button id="cor-5" class="bl">Corriger</button>
                                    <button id="ver-5" class="ver">vérifier</button>
                                    
                              </div>
                              <p id="message5"></p>
                        </div>
                  </div>
      </fieldset>
      </div>

      <!--Exo2: -->
      <div class="exo-container">
            <fieldset class="exos">
                  <legend><strong>Exercice2:</strong></legend>
                  <!--Les deux premieres questions-->
                  <div class="qst-container">
                        <div class="qst">
                              <h5 class="qst-title">Choisir la bonne réponse de la Q1:</h5>
                              <div class="choice-container">
                                    <input name="1" type="radio" >
                                    <label>\(\frac{3}{2}\)</label>
                                    <input name="1" type="radio" id="e2-qst1">
                                    <label>0</label>
                                    <input name="1" type="radio">
                                    <label>\(\frac{1}{2}\)</label>
                                    <input name="1" type="radio">
                                    <label>\(\frac{5}{2}\)</label>
                              </div>
                              <div class="btn-container">
                                    <button id="cor1-1" class="bl">Corriger</button>
                                    <button id="ver1-1" class="ver">vérifier</button>
                                    
                              </div>
                              <p id="mssg1"></p>

                        </div>
                        <div class="qst">
                              <h5 class="qst-title">Choisir la bonne réponse de la Q2:</h5>
                              <div class="choice-container">
                                    <input name="2" type="radio">
                                    <label>0</label>
                                    <input name="2" type="radio">
                                    <label>\(\frac{1}{4}\)</label>
                                    <input name="2" type="radio" id="e2-qst2">
                                    <label>-1</label>
                                    <input name="2" type="radio">
                                    <label>\(\frac{3}{4}\)</label>
                              </div>
                              <div class="btn-container">
                                    <button id="cor1-2" class="bl">Corriger</button>
                                    <button id="ver1-2" class="ver">vérifier</button>
                                   
                              </div>
                              <p id="messg2"></p>
                        </div>
                  </div>
                  
                  <div class="qst-container">
                        <div class="qst">
                              <h5 class="qst-title">Choisir la bonne réponse de la Q3:</h5>
                              <div class="choice-container">
                                    <input name="5" type="radio">
                                    <label>0</label>
                                    <input name="5" type="radio">
                                    <label>2</label>
                                    <input name="5" type="radio">
                                    <label>-1</label>
                                    <input name="5" type="radio" id="e2-qst3">
                                    <label>1</label>
                              </div>
                              <div class="btn-container">
                                    <button id="cor1-3" class="bl">Corriger</button>
                                    <button id="ver1-3" class="ver">vérifier</button>
                                    
                              </div>
                              <p id="mssg3"></p>
                        </div>
                  </div>
      </fieldset>
      </div>
      
      <!--Exo4: -->
      <div class="exo-container">
            <fieldset class="exos">
                  <legend><strong>Exercice4:</strong></legend>
                  <!--Les deux premieres questions-->
                  <div class="qst-container">
                        <div class="qst">
                              <h5 class="qst-title">Choisir la bonne réponse de la Q1:</h5>
                              <div class="choice-container">
                                    <input name="1" type="radio" >
                                    <label>\(\frac{3}{5}+\frac{18}{25}ln(\frac{3}{2})\)</label>
                                    <input name="1" type="radio">
                                    <label>-1</label>
                                    <input name="1" type="radio" id="e4-qst1">
                                    <label>\(\frac{3}{5}+\frac{36}{25}ln(\frac{3}{2})\)</label>
                  
                              </div>
                              <div class="btn-container">
                                    <button id="cor4-1" class="bl">Corriger</button>
                                    <button id="ver4-1" class="ver">vérifier</button>
                                    
                              </div>
                              <p id="result1"></p>

                        </div>
                  
                  </div>
                  <!--les 3 et 4 emes qst-->
                  <div class="qst-container">
                        <div class="qst">
                              <h5 class="qst-title">Choisir la bonne réponse de la Q3:</h5>
                              <div class="choice-container">
                                    <input name="3" type="radio">
                                    <label>\(ln(ln(x^2))\)</label>
                                    <input name="3" type="radio" id="e4-qst3">
                                    <label>\(ln(\frac{ln(x)}{ln(2)})\)</label>
                                    <input name="3" type="radio">
                                    <label>\(\frac{ln(x)}{ln(2)}\)</label>
                              </div>
                              <div class="btn-container">
                                    <button id="cor4-3" class="bl">Corriger</button>
                                    <button id="ver4-3" class="ver">vérifier</button>
                                    
                              </div>
                              <p id="result3"></p>
                        </div>
                        <div class="qst">
                              <h5 class="qst-title">Choisir la bonne réponse de la Q4:</h5>
                              <div class="choice-container">
                                    <input name="4" type="radio" id="e4-qst4">
                                    <label>\(xarctan(x)\)</label>
                                    <input name="4" type="radio" >
                                    <label>\(xarctan(x)-ln(x^2+1)\)</label>
                                    
                              </div>
                              <div class="btn-container">
                                    <button id="cor4-4" class="bl">Corriger</button>
                                    <button id="ver4-4" class="ver">vérifier</button>
                                    
                              </div>
                              <p id="result4"></p>
                        </div>
                  </div>
                  
      </fieldset>
      </div>

      <!--Exo5: -->
      <div class="exo-container">
            <fieldset class="exos">
                  <legend><strong>Exercice5:</strong></legend>
                  <!--Les deux premieres questions-->
                  <div class="qst-container">
                        <div class="qst">
                              <h5 class="qst-title">Choisir la bonne réponse de la Q1:</h5>
                              <div class="choice-container">
                                    <input name="1" type="radio" >
                                    <label>\(\frac{e}{4}\)</label>
                                    <input name="1" type="radio" >
                                    <label>\(\frac{16}{27}\)</label>
                                    <input name="1" type="radio"id="e5-qst1">
                                    <label>\(\frac{4}{e}\)</label>
                                    <input name="1" type="radio">
                                    <label>\(\frac{e}{2}\)</label>
                              </div>
                              <div class="btn-container">
                                    <button id="cor5-1" class="bl">Corriger</button>
                                    <button id="ver5-1" class="ver">vérifier</button>
                                    
                              </div>
                              <p id="alert1"></p>

                        </div>
                        <div class="qst">
                              <h5 class="qst-title">Choisir la bonne réponse de la Q2:</h5>
                              <div class="choice-container">
                                    <input name="2" type="radio">
                                    <label>0</label>
                                    <input name="2" type="radio">
                                    <label>\(\frac{e}{4}\)</label>
                                    <input name="2" type="radio" >
                                    <label>\(\frac{e}{2}\)</label>
                                    <input name="2" type="radio" id="e5-qst2">
                                    <label>\(\frac{4}{e}\)</label>
                              </div>
                              <div class="btn-container">
                                    <button id="cor5-2" class="bl">Corriger</button>
                                    <button id="ver5-2" class="ver">vérifier</button>
                                   
                              </div>
                              <p id="alert2"></p>
                        </div>
                  </div>
      </fieldset>
      </div>

      <!--Exo6: -->
      <div class="exo-container">
            <fieldset class="exos">
                  <legend><strong>Exercice6:</strong></legend>
                  <!--Les deux premieres questions-->
                  <div class="qst-container">
                        <div class="qst">
                              <h5 class="qst-title">Choisir la bonne réponse de la Q1:</h5>
                              <div class="choice-container">
                                    <input name="1" type="radio" >
                                    <label>\(\frac{1}{2^n}\)</label>
                                    <input name="1" type="radio"  >
                                    <label>n</label>
                                    <input name="1" type="radio" id="e6-qst1">
                                    <label>\(2^n\)</label>
                                    <input name="1" type="radio">
                                    <label>\(C^{n}_{n}\)</label>
                              </div>
                              <div class="btn-container">
                                    <button id="cor6-1" class="bl">Corriger</button>
                                    <button id="ver6-1" class="ver">vérifier</button>
                                    
                              </div>
                              <p id="res1"></p>

                        </div>
                        <div class="qst">
                              <h5 class="qst-title">Choisir la bonne réponse de la Q2:</h5>
                              <div class="choice-container">
                                    <input name="2" type="radio">
                                    <label>1</label>
                                    <input name="2" type="radio">
                                    <label>\(e^{\frac{n(n+1)(2n+1)}{6}}\)</label>
                                    <input name="2" type="radio" >
                                    <label>\(e^{\frac{n(n+1)}{2}}\)</label>
                                    <input name="2" type="radio" id="e6-qst2">
                                    <label>\(e^{\frac{n(n+1)^2}{4}}\)</label>
                              </div>
                              <div class="btn-container">
                                    <button id="cor6-2" class="bl">Corriger</button>
                                    <button id="ver6-2" class="ver">vérifier</button>
                                   
                              </div>
                              <p id="res2"></p>
                        </div>
                  </div>
                  
                  <div class="qst-container">
                        <div class="qst">
                              <h5 class="qst-title">Choisir la bonne réponse de la Q3:</h5>
                              <div class="choice-container">
                                    <input name="5" type="radio" id="e6-qst3">
                                    <label>0</label>
                                    <input name="5" type="radio">
                                    <label>2</label>
                                    <input name="5" type="radio">
                                    <label>-1</label>
                                    <input name="5" type="radio" >
                                    <label>1</label>
                              </div>
                              <div class="btn-container">
                                    <button id="cor6-3" class="bl">Corriger</button>
                                    <button id="ver6-3" class="ver">vérifier</button>
                                    
                              </div>
                              <p id="res3"></p>
                        </div>
                  </div>
      </fieldset>
      </div>


      <footer>
            <div class="foot">
                  <div class="info-container">
                        <div class="contact">
                              <span>Contactez Nous:</span> 
                              <a href="#" title="Send Message" target="_blank"><i class="fa fa-envelope"></i> Tsouliomar2006@gmail.com</a>
                              <a href="#" title="Send Message" target="_blank"><i class="fa fa-envelope"></i> Younestsouli444@gmail.com</a>
                        </div>
                        <div class="socials">
                              <span>Suivez Nous sur:</span>
                              <div class="linked">
                                    <a href="#" title="View Profile" target="_blank"><i class="fa fa-linkedin"></i> Omar Tsouli</a>
                                    <a href="#" title="View Profile" target="_blank"><i class="fa fa-linkedin"></i> Younes Tsouli</a>
                              </div>                    
                              <!--To be continued-->
                        </div>
                        <div id="last-info" class="ressources">
                              <span>Obtenez plus de Sujets de Pratique sur:</span>
                              <a href="https://www.ensamaroc.com/concours/bac" target="_blank"><i class="fa fa-file"></i>ENSA Maroc</a>
                              <a href="https://concoursmedecine.ma/auth/exams/maths/concours-medecine-commun-2022-2023/" target="_blank"><i class="fa fa-file"></i>Médecine Maroc</a>
                              <a href="https://www.alloschool.com/course/concours-d-acces-ensam-ecoles-nationales-superieures-d-arts-et-metiers" target="_blank"><i class="fa fa-file"></i>ENSAM Maroc de 2007 à 2016, Crédit: AlloSchool</a>
                              <!--to be continued-->
                        </div>
                  </div>
                  <p>&copy; Omar Tsouli ~ Younes Tsouli. 2025 Tous Droits Réservés.</p>
            </div>    
      </footer>

      <script src="leshgo.js">

      </script>

</body>
</html>