<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>MaxisPrepa.com</title>
      <link rel="stylesheet" href="../style.css"> <!--liking with css-->

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'> <!--In these two lines i have just added fonts-->
      
</head>
<body>
      <!--The NavBar-->
      <div class="nav-bar">
            <!--The Logo-->
            <div class="logo"> 
                  <a href="home.html"><i class="fa fa-home"></i> <span>Maxis</span><span>Prepa</span></a>  <!--CHANGE HERE-->
            </div>

            <!--The above menu-->
            <div class="nav-menu">
                  <a href="PreparationConcours.pdf" target="_blank">Astuces/Résumer</a>

                  <div class="dropdown">
                        <button class="btn-drop">Exercices+</button>
                        <div class="content">
                              <a class="drop-links" href="ExercicesConcours.pdf" target="_blank">Énoncés</a>
                              <a class="drop-links" href="exercices.html">QCUs</a>
                        </div>
                  </div>

                  <a href="sujets.html"  id="last">Sujets/Corrigés</a> <!--We can also make this a Dropdown Menu-->
            </div>
      </div>

      <div class="main-container">
            <h1 class="tittle">Préparation Rendue Facile</h1>
            <!-- We need to find a way to make this more attractive to read, i will suggest ideas for when we call again, (nsseli l3cha ou npushi hadshi hhh)-->
            <p class="intro">Salut! et bienvenue dans ce site!
Ce dernier a été conçu afin que vous puissiez optimiser votre révision pour réussir aux concours d'accès aux universités marocaines.

Vous trouverez ci-dessus les différentes ressources fournies :
Un résumé adéquat avec le programme, des exercices de rafraîchissement de mémoire, enfin quelques sujets contenant des questions subtiles mais très intéressantes.</p>
      </div>


      
      <footer>
            <div class="foot">
                  <div class="info-container">
                        <div class="contact">
                              <span>Contactez Nous:</span> 
                              <a  title="Send Message" target="_blank"><i class="fa fa-envelope"></i> Tsouliomar2006@gmail.com</a>
                              <a  title="Send Message" target="_blank"><i class="fa fa-envelope"></i> Younestsouli444@gmail.com</a>
                        </div>
                        <div class="socials">
                              <span>Suivez Nous sur:</span>
                              <div class="linked">
                                    <a href="https://www.linkedin.com/in/omar-tsouli-488a85339/" title="View Profile" target="_blank"><i class="fa fa-linkedin"></i> Omar Tsouli</a>
                                    <a href="https://www.linkedin.com/in/younes-tsouli-84796b356/" title="View Profile" target="_blank"><i class="fa fa-linkedin"></i> Younes Tsouli</a>
                              </div>                    
                              <!--To be continued-->
                        </div>
                        <div id="last-info" class="ressources">
                              <span>Obtenez plus de Sujets de Pratique sur:</span>
                              <a href="https://www.ensamaroc.com/concours/bac" target="_blank"><i class="fa fa-file"></i>ENSA Maroc</a>
                              <a href="https://concoursmedecine.ma/auth/exams/maths/concours-medecine-commun-2022-2023/" target="_blank"><i class="fa fa-file"></i>Médecine Maroc</a>
                              <a href="https://www.alloschool.com/course/concours-d-acces-ensam-ecoles-nationales-superieures-d-arts-et-metiers" target="_blank"><i class="fa fa-file"></i>ENSAM Maroc de 2007 à 2016, Crédit: AlloSchool</a>
                              <!--to be continued-->
                        </div>
                  </div>
                  <p>&copy; Omar Tsouli ~ Younes Tsouli. 2025 Tous Droits Réservés.</p>
            </div>
            
      </footer>
</body>
</html>
