<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>MaxisPrepa.com</title>
      <link rel="stylesheet" href="../style.css"> <!--liking with css-->

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'> <!--In these two lines i have just added fonts-->
      
</head>
<body>
      <!--The NavBar-->
      <div class="nav-bar">
            <!--The Logo-->
            <div class="logo">
                  <a href="home.html">
                        Maxis<span>Prepa</span>
                  </a> 
            </div>
            <!--The above menu-->
            <div class="nav-menu">
                  <a href="resumes.html">Astuces/Résumer</a>
                  <a href="exercices.html">Exercices</a>
                  <a href="sujets.html" id="last">Sujets/Corrigés</a> <!--We can also make this a Dropdown Menu-->
            </div>
      </div>
      <br><br><br><br>
      resumes
      
      <footer>
      <p>&copy; Omar Tsouli ~ Younes Tsouli. Tous Droits Réservés</p>
</footer>
</body>
